@page "/subscriptions"
@using BlazorWebAppCustomer.Services
@using helperMovies.ViewModel
@inject NavigationManager NavigationManager
@inject ISubscriptionPackageService SubscriptionPackageService
@inject IJSRuntime JS
<PageTitle>Gói dịch vụ</PageTitle>

<HeroSection Title="All Package" Subtitle="Flexible plans, unlimited movies." />

<!-- Packages -->
<section class="container py-5">
  <div class="row g-4 justify-content-center">
        @if (isLoading)
        {
            <div class="text-center py-5">
                <div class="spinner-border text-primary"></div>
            </div>
        }
        else if (!packages.Any())
        {
            <div class="alert alert-warning">
                Hiện chưa có gói dịch vụ nào.
            </div>
        }
        else
        {
            <div class="row">
                @foreach (var item in packages)
                {


                    <div class="col-md-3">
                        <div class="card glass-card text-center package-card">
                            <div class="card-header">
                                <h4 class="card-title fw-bold">  @item.Name</h4>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <h3>$ @item.Price?.ToString("0")</h3>
                                <p class="text-muted small flex-grow-1">@item.Description</p>

                                <button class="btn btn-success w-100 rounded-pill" @onclick="() => Buy(item.Id)">Buy Now</button>
                            </div>
                        </div>
                    </div>

                 
                
                }
            </div>
        }
    </div>
</section>
  

@code {
    List<SubscriptionPackageViewModel> packages = new();
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        packages = await SubscriptionPackageService.GetAllAsync();
        isLoading = false;
    }

    private async Task Buy(int packageId)
    {
        if (!await JsConfirm("Bạn có chắc muốn mua gói này?"))
            return;

        await SubscriptionPackageService.PurchaseAsync(packageId);

        await JsAlert("🎉 Mua gói thành công!");
        //NavigationManager.NavigateTo("/my-subscription");
        var invoiceId = await SubscriptionPackageService.PurchaseAsync(packageId);
        NavigationManager.NavigateTo($"/payment/{invoiceId}");
    }



    private async Task<bool> JsConfirm(string message)
    {
        return await JS.InvokeAsync<bool>("confirm", message);
    }

    private async Task JsAlert(string message)
    {
        await JS.InvokeVoidAsync("alert", message);
    }
}


