<div class="container-fluid">
    <div class="row">
        <SmallBox Title="New Orders" Value="150" Icon="bi bi-cart" ColorClass="text-bg-primary" />
        <SmallBox Title="Bounce Rate" Value="53%" Icon="bi bi-graph-up" ColorClass="text-bg-success" />
        <SmallBox Title="User Registrations" Value="44" Icon="bi bi-person-plus" ColorClass="text-bg-warning" />
        <SmallBox Title="Unique Visitors" Value="65" Icon="bi bi-people" ColorClass="text-bg-danger" />
    </div>

    <div class="row">
        <div class="col-lg-7 connectedSortable">
            <DirectChat />
        </div>
        <div class="col-lg-5 connectedSortable">
            <SalesCard />
        </div>
    </div>
</div>
