<div id="featuredCarousel" class="carousel slide mt-4 rounded" data-bs-ride="carousel">
    <div class="carousel-inner rounded">
        <div class="carousel-item active">
            <img src="https://m.media-amazon.com/images/I/713xGcJTevL._AC_UY218_.jpg" class="d-block w-100" alt="Inception" />
            <div class="carousel-caption">
                <h5>Inception</h5>
                <p>A mind-bending thriller by Christopher Nolan</p>
                <a href="#" class="btn btn-danger rounded-pill">Watch Now</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/I/81L3UQm914L._AC_UY218_.jpg" class="d-block w-100" alt="Interstellar" />
            <div class="carousel-caption">
                <h5>Interstellar</h5>
                <p>Journey beyond the stars</p>
                <a href="#" class="btn btn-danger rounded-pill">Watch Now</a>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#featuredCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
